.gameboard
{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gameboard > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameboard .tileLayer {
    background-color: #f9fad4;
    border-radius: 5px;
    cursor: pointer !important;
    z-index: 1;
}

.gameboard .effectLayer {
    cursor: pointer !important;
    z-index: 2;
}

.gameboard .timer {
    position: relative;
    z-index: 3;
    text-align: center;
    pointer-events: none;
}

.gameboard .scoreboard {
    position: relative;
    z-index: 4;
    pointer-events: none;
}

.gameboard .toast {
    position: absolute;
    z-index: 4;
    pointer-events: none;
    margin-top: 0;
    opacity: 1;
    font-weight: bold;
    font-size: 1.2em;
}

.gameboard .toast.score {
    margin-top: -100px;
    opacity: 0;
    -webkit-transition: margin-top 1s, opacity 0.25s 0.75s;
}