.gameboard
{
    position: relative;
    width: 480px;
    height: 640px;
}

.gameboard > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameboard .tileLayer {
    background-color: #AAA;
    border-radius: 5px;
    cursor: pointer !important;
    z-index: 0;
}

.gameboard .effectLayer {
    cursor: pointer !important;
    z-index: 1;
}

.gameboard .timer {
    position: relative;
    z-index: 2;
    text-align: center;
}

.gameboard .scoreboard {
    position: relative;
    z-index: 2;
}