html
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Trebuchet MS";
    margin: 10px 0 10px 0;
    padding: 0;
    /*background-image: url("img/page_background.png");*/
}

button
{
    background-color: #AAA;
    border: 1px solid #666;
    border-radius: 10px;
}

button:hover
{
    border-color: #88C;
    color: #448;
    cursor: pointer;
}

/*#tileLayer, #results, #scoreboard, #playerSetup {
    -moz-box-shadow: 5px 5px 5px #222;
    -webkit-box-shadow: 5px 5px 5px #222;
}*/

#gameLayout
{
    text-align: center;
    margin: auto;
}

#gameLayout>div
{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#playerSetup 
{
    background-color: #DDD;
    border-radius: 5px;
    border: 2px solid #AAA;
    height: 616px;
    width: 456px;
    padding: 10px;
    position: relative;
}

#results
{
    background-color: #DFD;
    border-radius: 5px;
    border: 2px solid #ADA;
    height: 616px;
    width: 456px;
    padding: 10px;
    position: relative;
}

#results h1
{
    font-size: 1.2em;
}

#results #winnerName
{
    font-size: 1.5em;
}

#results #winnerScore
{
    font-size: 1.3em;
    font-style: italic;
}

#awards
{
    list-style: none;
    padding-left: 0;
    margin-left: 0.5em;
}

#awards li
{
    margin-bottom: 1em;
}

#awards h3
{
    font-size: 1.2em;
    margin: 0;
}

#awards .awardWinner
{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1em;
}

#resultsButton
{
    font-size: 1.2em;
}

#gameboard
{
    position: relative;
    width: 480px;
    height: 640px;
}

#gameboard>canvas
{
    position: absolute;
    top: 0;
    left: 0;
}

#tileLayer
{
    background-color: #AAA;
    border-radius: 5px;
    cursor: pointer !important;
    z-index: 0;
}

#effectLayer
{
    cursor: pointer !important;
    z-index: 1;
}

#scoreboard
{
    border: 1px solid #666;
    width: 304px;
    height: 638px;
    border-radius: 5px;
    background-color: #FFF;
    margin-left: 5px;
}

#timer
{
    background-image: url('/img/clock.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
    text-align: right;
    font-size: 1.5em;
    padding: 3px;
    color: #FFF;
    position: absolute;
    z-index: 2;
    left: 210px;
    top: 5px;
}

#localScore
{
    color: #FFF;
    position: absolute;
    z-index: 2;
    margin: 10px;
}

#localScore .player
{
    font-size: 1.1em;
}

#localScore .player:after
{
    content: ":";
}

#localScore .score
{
    font-size: 1.2em;
    font-weight: bold;
}

#leadScore
{
    color: #FFF;
    font-size: 1.2em;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 5px;
}

@media only screen and (max-device-width: 480px) {
    #scoreboard
    {
        display: none;
    }
 }
 
#playerList
{
    margin: 10px;
}

#playerSetup h3
{
    text-align: center;
    font-size: 1.0em;
    border-bottom: 1px solid #66A;
    margin: 5px 2em 5px 2em;
    padding: 3px;
}

.playerScore 
{
    /*border-bottom: 1px solid #88C;
    background-color: #FFF;*/
    margin: 5px;
    padding: 5px;
    height: 25px;
    position: relative;
}

.playerScore .toast
{
    float: right;
}

.playerScore .name
{
    float: left;
}

.playerScore .name:after
{
    content: ":";
}

.playerScore .score
{
    float: right;
}

.playerScore .color
{
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 10px;
    -webkit-transition: background-color 0.5s ease-in-out;
}

#playerSetup input
{
    border: 1px solid #88C;
    border-radius: 3px;
}

#playerSetup>div
{
    margin-bottom: 10px;
}

#nameField
{
    font-size: 1.2em;
    text-align: center;
}

#playerName
{
    width: 250px;
    font-size: 1.0em;
    padding: 3px;
}

@-webkit-keyframes readyPulse {
    from {
        background-color: #AAA;
    }
    50% {
        background-color: #8F8;
    }
    to { 
        background-color: #AAA;
    }
}

#readyButton
{
    font-size: 1.0em;
    width: 80px;
    -webkit-animation-name: readyPulse; 
    -webkit-animation-duration: 2.0s;
    -webkit-animation-iteration-count: infinite;
}
#readyButton.ready 
{
    background-color: #F88;
    -webkit-animation-name: none; 
}

#colorField
{
    height: 45px;
}

#colorField span
{
    float: left;
    padding-top: 15px;
}

.colorOption
{
    width: 36px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1.2em;
    text-align: center;
    padding: 5px 0 5px 0;
    float: right;
    border: 1px solid #666;
}

.colorOption.checked, .playerScore .color.checked
{
    background-image: url("/img/check.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#chatBox
{
    text-align: center;
    position: absolute;
    bottom: 0px;
}

#chatField
{
    margin-bottom: 3px;
}

#chatInput
{
    width: 350px;
    padding: 3px;
}

#chatLog
{
    width: 445px;
    height: 250px;
    background-color: #FFF;
    border: 1px solid #66A;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    overflow: auto;
    padding: 5px;
}
