<!DOCTYPE html>

<html>
	<head>
		<title>H&#x2083; - Hyperactive Hexagonal Havoc!</title>
		<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
		<link type="text/css" href="/css/mobile.css" rel="stylesheet" media="handheld, only screen and (max-device-width:480px)" />
		
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
		
		<!-- H3 includes -->
		<script type="text/javascript" src="/js/client_util.js"></script>
		<script type="text/javascript" src="/js/client_player.js"></script>
		<script type="text/javascript" src="/js/client_game.js"></script>
		<script type="text/javascript" src="/js/client_ui.js"></script>
		<script type="text/javascript" src="/js/client_render.js"></script>
		<script type="text/javascript" src="/js/board.js"></script>
		
		<script type="text/javascript">
			$(function() {
				var game = new Game(new UiHandler(), new CanvasRenderer());
			});
		</script>
	</head>
	<body>
		<audio id="claimSnd" src="/sound/claim.wav" preload="auto" autobuffer></audio>
		<audio id="stealSnd" src="/sound/steal.wav" preload="auto" autobuffer></audio>
		<audio id="pushSnd" src="/sound/push.wav" preload="auto" autobuffer></audio>
		
		<div id="gameLayout">
			<div id="playerSetup">
				<div id="nameField">
					<span>Name:</span>
					<input type="text" id="playerName"></input>
					<button id="readyButton">Ready?</button>
				</div>
				<div id="colorField">
					<span>Player Color:</span>
					<div class="colorOption" style="background-color: #666"></div>
					<div class="colorOption" style="background-color: #8E8"></div>
					<div class="colorOption" style="background-color: #EE8"></div>
					<div class="colorOption" style="background-color: #E88"></div>
					<div class="colorOption" style="background-color: #E8E"></div>
					<div class="colorOption" style="background-color: #88E"></div>
					<div class="colorOption" style="background-color: #8EE"></div>
					<div class="colorOption checked" style="background-color: #FFF"></div>
				</div>
				
				<div id="playerList">
					<h3>Players</h3>
				</div>
				
				<% if( game_id != -1) { %>
					<div>
						<h3>Invite your friends!</h3>
						<b>Game ID:</b> <%= game_id %><br/>
						<b>URL:</b> http://h3.jit.su/game/<%=game_id%>
					</div>
				<% } %>
				
				<div id="chatBox">
					<div id="chatField">
						<span>Say:</span>
						<input type="text" id="chatInput"></input>
						<button id="chatSubmit">Send</button>
					</div>
					<div id="chatLog">
					
					</div>
				</div>
			</div>
			<div id="gameboard" style="display: none;">
				<canvas id="tileLayer"></canvas>
				<canvas id="effectLayer"></canvas>
				
				<div id="localScore">
					<span class="player"></span>
					<span class="score"></span>
				</div>
				<div id="timer"></div>
				<div id="leadScore">
					<span class="score"></span>
					<span class="player"></span>
				</div>
			</div>
			<div id="results" style="display: none;">
				<h1><span id="winnerName">Toji</span> won the round with <span id="winnerScore">1024</span> points!</h1>
				
				<h2>Round Awards:</h2>
				<ul id="awards">
					<li>
						<h3>Award Title Here</h3>
						<div>
							<span class="awardWinner">Toji</span> 
							<span class="description">won an award of some sort</span>
						</div>
					</li>
					<li>
						<h3>Award Title Here</h3>
						<div>
							<span class="awardWinner">Toji</span> 
							<span class="description">won an award of some sort</span>
						</div>
					</li>
				</ul>
				
				<button id="resultsButton">Done</button>
			</div>
			<!--div id="scoreboard">
				
			</div-->
		</div>
	</body>
</html>

