.awards {
    position: absolute;
    width: 768px;
    height: 928px;
    left: 50%;
    top: 50%;
    margin-left: -384px;
    margin-top: -464px;
    background-image: url(/img/bg-clean.jpg);
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/*.awards {
    margin: auto;
    background-color: #DDD;
    border-radius: 5px;
    border: 2px solid #AAA;
    width: auto;
    max-width: 456px;
    padding: 10px;
    position: relative;
}*/

.awards h3 {
    margin: 10px 38px 0 38px;
    padding: 0;
    line-height: 53px;
    background: #00b2c7;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    border-radius: 8px 8px 0 0;
    opacity: .7;
}

.awards .scoreList {
    list-style: none;
    margin: 0 38px 10px 38px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0 0 8px 8px;
}

.awards .scoreList li:first-child{
    font-size: 1.4em;
}
.awards .scoreList li:first-child:before{
    content: "1st:";
    display: inline-block;
    width: 50px;
    font-weight: bold;
}

.awards .scoreList li:nth-child(2){
    font-size: 1.2em;
}
.awards .scoreList li:nth-child(2):before{
    content: "2nd:";
    display: inline-block;
    width: 50px;
    font-weight: bold;
}

.awards .scoreList li:nth-child(3){
    font-size: 1.0em;
}
.awards .scoreList li:nth-child(3):before{
    content: "3rd:";
    display: inline-block;
    width: 50px;
    font-weight: bold;
}

.awards .scoreList li:nth-child(4){
    font-size: 0.8em;
}
.awards .scoreList li:nth-child(4):before{
    content: "4th:";
    display: inline-block;
    width: 50px;
    font-weight: bold;
}

.awards .awardList {
    list-style: none;
    margin: 0 38px 10px 38px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0 0 8px 8px;
}

.awards .awardList .awardTitle {
    margin: 3px;
    font-size: 1.2em;
}

.awards .awardList .awardText {
    margin-left: 24px;
    margin-bottom: 15px;
}

.awards .awardList .awardPlayer {
    font-weight: bold;
}